@charset "UTF-8";

/* Todas as medias */

/* typical device breakpoints

Telas pequenas - 600px
Mobile devices – 600px — 768px.
iPads, Tablets – 768px — 992px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.

*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/icon-print.png);
    }
    main h1{
       text-shadow: none;
       color: black;
        
    }

    main{
        border: 2px solid black;
        width: 90vw;

    }

    main::after{
        content: "Site feito por Lucas Felippe";
        text-decoration: underline;
    }

    img#phone{display: none; margin: auto;}
    img#tablet{display: none; margin: auto;}
    img#tv{display: none;}
    img#print{display: block; margin: auto}
    img#pc{display: none; margin: auto;}
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone{display: none; margin: auto;}
    img#tablet{display: block; margin: auto;}
    img#tv{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none; margin: auto;}
    img#tablet{display: none; margin: auto;}
    img#tv{display: none;}
    img#print{display: none;}
    img#pc{display: block; margin: auto;}
    
}

@media screen and (min-width: 1200px) {

    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{display: none; margin: auto;}
    img#tablet{display: none; margin: auto;}
    img#tv{display: block; margin: auto;}
    img#print{display: none;}
    img#pc{display: none;}
    
}